pic

##**Restaurant Pizza Sales Analysis**

### 1.1 Introduction

MySQL is one of the popular Relational Database Management Systems (RDMS). RDMS have been in existence since the 1970s. They are highly optimized to handle huge databases. This notebook demonstates the integration of MySQL and Python using Google Colab Notebook environment.

The analysis will be performed using the `pizza_sales` database that consist of four tables:
- order_details,
- orders,
- pizza_type, and
- pizza.

The original dataset can be downloaded from [kaggle](https://www.kaggle.com/datasets/ylenialongo/pizza-sales).

_**Data dictionary**_

| **Table**       | **Field**       | **Description**                                                                 |
|-----------------|-----------------|---------------------------------------------------------------------------------|
| **orders**      | order_id        | Unique identifier for each order                                                |
|                 | customer_id     | Identifier for the customer who placed the order                                |
| **order_details**| order_detail_id | Unique identifier for each order detail                                         |
|                 | order_id        | Identifier for the order                                                        |
|                 | pizza_id        | Identifier for the pizza                                                        |
|                 | quantity        | Number of pizzas ordered                                                        |
| **pizzas**      | pizza_id        | Unique identifier for each pizza                                                |
|                 | pizza_type_id   | Identifier for the type of pizza                                                |
|                 | pizza_size_id   | Identifier for the size of the pizza                                            |
| **pizza_types**  | pizza_type_id   | Unique identifier for each type of pizza                                        |
|                 | name            | Name of the pizza type                                                          |
|                 | category        | Category of the pizza type (e.g., vegetarian, non-vegetarian)                       |

### 1.2 Business Questions

Gathering a set of key business questions guides us in the Exploratory Data Analysis (EDA) process. Below are some questions to help us gain more insights regarding the restaurant business operations:

- What is the total number of orders placed?

- How much is the total revenue generated by the restaurant?

- How is the pricing pattern for items sold by the restaurant?

- What is popular pizza ordered?

- What are the top most ordered pizza types along their quantities?

- What are the quantities of each pizza category ordered?

- How is the distribution of orders by hours of the day?

- What is the category-wise distribution of pizzas?

- What is the average number of pizzas ordered per day?

- What the top most ordered pizza type base by revenue?

- What is the percentage contribution of each pizza type to revenue?

- What is the cumulative revenue generated over time?

### 1.3 Install Required Libraries

The `mysql-connector-python` package is a driver that we use to connect Python with MySQL databases.

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 53.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

We need to setup MySQL Server on our Google Colab environment using the following command:

In [2]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 49 not upgraded.
Need to get 29.6 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [2,762 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [17.6 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.39-0ubuntu0.22.04.1 [9,468 B]
Fetched 29.6 MB in 1s (42.0 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 123599 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 5217
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

### 1.4 Start MySQL Server and Connect to MySQL

Note: If you are using a jupyter notebook to access your MySQL with Python, you can skip the two commands for starting MySQL Server and setting root password and go directly to the `connection` command.

Start MySQL Server using the command below;

In [3]:
# start MySQL Server
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

Setup the root password as `‘password’`. For real-world scenarios, ensure you use stronger passwords.

In [6]:
# Set root password for MySQL Server
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';FLUSH PRIVILEGES;"

Make a connection to your MySQL server using Python as follows;

In [7]:
# connect to MySQL

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7bb14834be50>

### **2. Data Processing**

### 2.1 Create Database Schema

**Note:** The individual data sheets are shown as .csv files in the Dataset folder under the current repository. The four datasets form part of the schema for pizza_sales database. Please note that we can still do the analysis directly using the datasets, but the main purpose of this notebook is to demonstrate knowledge of SQL for data analysis.

### _2.1.1 Create and Use pizza_sales Database_

First, we create the database `pizza_sales`, if it doesn't exit in our MySQL Server.

In [8]:
# prompt: create database pizza_sales if not exist. First, pass the sql statement to a string variable, then call it in the execute statement

mycursor = mydb.cursor()

sql = "CREATE DATABASE IF NOT EXISTS pizza_sales"
mycursor.execute(sql)

In [10]:
# check that the database has been created
sql = "SHOW DATABASES"
mycursor.execute(sql)

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('pizza_sales',)
('sys',)

### _2.1.2 Use pizza_sales database_

Select the pizza_sales database for subsequent operations.

In [11]:
# use pizza_sales database
sql = "USE pizza_sales"
mycursor.execute(sql)

### _2.1.3 Create Tables_

We need to create four table schemas for our database. The structure and data to be populated into the pizza_sales database comes from the four datasets provided.
- order_details.csv,
- orders.csv,
- pizza_types.csv, and
- pizzas.csv

In [19]:
# create table schemas, IF NOT EXISTS, for the four datasets in the pizza_sales database.

mycursor = mydb.cursor()

# drop table if exists
mycursor.execute('DROP TABLE IF EXISTS order_details;')

# Create table for order_details
sql = """
CREATE TABLE IF NOT EXISTS order_details (
    order_details_id INT PRIMARY KEY,
    order_id INT,
    pizza_id VARCHAR(50),
    quantity INT
);
"""
mycursor.execute(sql)


####################################################################################


# drop table if exists
mycursor.execute('DROP TABLE IF EXISTS orders;')

# Create table for orders
sql = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    date DATE,
    time TIME
);
"""
mycursor.execute(sql)



####################################################################################


# drop table if exists
mycursor.execute('DROP TABLE IF EXISTS pizza_types;')

# Create table for pizza_types
sql = """
CREATE TABLE IF NOT EXISTS pizza_types (
    pizza_type_id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(255),
    category VARCHAR(255),
    ingredients TEXT
);
"""
mycursor.execute(sql)



####################################################################################


# drop table if exists
mycursor.execute('DROP TABLE IF EXISTS pizzas;')

# Create table for pizzas
sql = """
CREATE TABLE IF NOT EXISTS pizzas (
    pizza_id VARCHAR(50),
    pizza_type_id VARCHAR(50),
    size VARCHAR(20),
    price DECIMAL(10, 2)
);
"""
mycursor.execute(sql)

Let's show the new pizza_sales schema to make sure that the tables have been created.

In [20]:
# prompt: show tables in pizza_sales

mycursor = mydb.cursor()
sql = "SHOW TABLES"
mycursor.execute(sql)

for x in mycursor:
  print(x)

('order_details',)
('orders',)
('pizza_types',)
('pizzas',)

Let's also check the schema of the created tables.

In [24]:
# prompt: show schema of each table

mycursor = mydb.cursor()

# Show schema for order_details
sql = "DESCRIBE order_details"
mycursor.execute(sql)
print("order_details table schema:")
print("="*80)
for x in mycursor:
  print(x)

# Show schema for orders
sql = "DESCRIBE orders"
mycursor.execute(sql)
print("\norders table schema:")
print("="*80)
for x in mycursor:
  print(x)

# Show schema for pizza_types
sql = "DESCRIBE pizza_types"
mycursor.execute(sql)
print("\npizza_types table schema:")
print("="*80)
for x in mycursor:
  print(x)

# Show schema for pizzas
sql = "DESCRIBE pizzas"
mycursor.execute(sql)
print("\npizzas table schema:")
print("="*80)
for x in mycursor:
  print(x)

order_details table schema:
================================================================================
('order_details_id', 'int', 'NO', 'PRI', None, '')
('order_id', 'int', 'YES', '', None, '')
('pizza_id', 'varchar(50)', 'YES', '', None, '')
('quantity', 'int', 'YES', '', None, '')

orders table schema:
================================================================================
('order_id', 'int', 'NO', 'PRI', None, '')
('date', 'date', 'YES', '', None, '')
('time', 'time', 'YES', '', None, '')

pizza_types table schema:
================================================================================
('pizza_type_id', 'varchar(50)', 'NO', 'PRI', None, '')
('name', 'varchar(255)', 'YES', '', None, '')
('category', 'varchar(255)', 'YES', '', None, '')
('ingredients', 'text', 'YES', '', None, '')

pizzas table schema:
================================================================================
('pizza_id', 'varchar(50)', 'YES', '', None, '')
('pizza_type_id', 'varchar(50)', 'YES', '', None, '')
('size', 'varchar(20)', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')

### _2.1.4 Import the CSV data into the MySQL tables_

We now need to  insert the records in MySQL tables with below python code:

In [25]:
# import data from the four datasets into the created tables for pizza_sales

import pandas as pd

# Replace with the actual paths to your CSV files if needed

# Load data from order_details.csv
order_details_df = pd.read_csv('order_details.csv')

# Insert data into the order_details table
for i, row in order_details_df.iterrows():
  sql = "INSERT INTO order_details (order_details_id, order_id, pizza_id, quantity) VALUES (%s, %s, %s, %s)" # %S means string values
  val = (row['order_details_id'], row['order_id'], row['pizza_id'], row['quantity'])
  mycursor.execute(sql, val)
mydb.commit()


# Load data from orders.csv
orders_df = pd.read_csv('orders.csv')

# Insert data into the orders table
for i, row in orders_df.iterrows():
  sql = "INSERT INTO orders (order_id, date, time) VALUES (%s, %s, %s)" # %S means string values
  val = (row['order_id'], row['date'], row['time'])
  mycursor.execute(sql, val)
mydb.commit()


# Load data from pizza_types.csv
pizza_types_df = pd.read_csv('pizza_types.csv')

# Insert data into the pizza_types table
for i, row in pizza_types_df.iterrows():
  sql = "INSERT INTO pizza_types (pizza_type_id, name, category, ingredients) VALUES (%s, %s, %s, %s)" # %S means string values
  val = (row['pizza_type_id'], row['name'], row['category'], row['ingredients'])
  mycursor.execute(sql, val)
mydb.commit()


# Load data from pizzas.csv
pizzas_df = pd.read_csv('pizzas.csv')

# Insert data into the pizzas table
for i, row in pizzas_df.iterrows():
  sql = "INSERT INTO pizzas (pizza_id, pizza_type_id, size, price) VALUES (%s, %s, %s, %s)" # %S means string values
  val = (row['pizza_id'], row['pizza_type_id'], row['size'], row['price'])
  mycursor.execute(sql, val)
mydb.commit()

print('Data imported successfully.')

Data imported successfully.

### _2.1.5 Check Table SIze and Print Sample Data_

Let's check the row counts in each table.

In [26]:
# check the size of each table

mycursor = mydb.cursor()

# Check the size of the order_details table
sql = "SELECT COUNT(*) FROM order_details"
mycursor.execute(sql)
result = mycursor.fetchone()
print("order_details table size:", result[0])
print("="*80)

# Check the size of the orders table
sql = "SELECT COUNT(*) FROM orders"
mycursor.execute(sql)
result = mycursor.fetchone()
print("orders table size:", result[0])
print("="*80)

# Check the size of the pizza_types table
sql = "SELECT COUNT(*) FROM pizza_types"
mycursor.execute(sql)
result = mycursor.fetchone()
print("pizza_types table size:", result[0])
print("="*80)

# Check the size of the pizzas table
sql = "SELECT COUNT(*) FROM pizzas"
mycursor.execute(sql)
result = mycursor.fetchone()
print("pizzas table size:", result[0])

order_details table size: 48620
================================================================================
orders table size: 21350
================================================================================
pizza_types table size: 32
================================================================================
pizzas table size: 96

Let's print the head [first 5 rows] from each table.

In [30]:
# print first 5 rows from each table

mycursor = mydb.cursor()

# Print first 5 rows from order_details table
sql = "SELECT * FROM order_details LIMIT 5"
mycursor.execute(sql)
print("order_details table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print first 5 rows from orders table
sql = "SELECT * FROM orders LIMIT 5"
mycursor.execute(sql)
print("orders table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print first 5 rows from pizza_types table
sql = "SELECT * FROM pizza_types LIMIT 5"
mycursor.execute(sql)
print("pizza_types table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print first 5 rows from pizzas table
sql = "SELECT * FROM pizzas LIMIT 5"
mycursor.execute(sql)
print("pizzas table:")
print("="*80)

for row in mycursor:
    print(row)

order_details table:
================================================================================
(1, 1, 'hawaiian_m', 1)
(2, 2, 'classic_dlx_m', 1)
(3, 2, 'five_cheese_l', 1)
(4, 2, 'ital_supr_l', 1)
(5, 2, 'mexicana_m', 1)



orders table:
================================================================================
(1, datetime.date(2015, 1, 1), datetime.timedelta(seconds=41916))
(2, datetime.date(2015, 1, 1), datetime.timedelta(seconds=43060))
(3, datetime.date(2015, 1, 1), datetime.timedelta(seconds=43948))
(4, datetime.date(2015, 1, 1), datetime.timedelta(seconds=44191))
(5, datetime.date(2015, 1, 1), datetime.timedelta(seconds=44490))



pizza_types table:
================================================================================
('bbq_ckn', 'The Barbecue Chicken Pizza', 'Chicken', 'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce')
('big_meat', 'The Big Meat Pizza', 'Classic', 'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage')
('brie_carre', 'The Brie Carre Pizza', 'Supreme', 'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic')
('calabrese', 'The Calabrese Pizza', 'Supreme', '�Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic')
('cali_ckn', 'The California Chicken Pizza', 'Chicken', 'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese')



pizzas table:
================================================================================
('bbq_ckn_s', 'bbq_ckn', 'S', Decimal('12.75'))
('bbq_ckn_m', 'bbq_ckn', 'M', Decimal('16.75'))
('bbq_ckn_l', 'bbq_ckn', 'L', Decimal('20.75'))
('cali_ckn_s', 'cali_ckn', 'S', Decimal('12.75'))
('cali_ckn_m', 'cali_ckn', 'M', Decimal('16.75'))

Let's print the tail [last 5 rows] from each table.

In [29]:
# prompt: print last five rows from each  table. Leave space between each table's output

mycursor = mydb.cursor()

# Print last 5 rows from order_details table
sql = "SELECT * FROM order_details ORDER BY order_details_id DESC LIMIT 5"
mycursor.execute(sql)
print("order_details table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print last 5 rows from orders table
sql = "SELECT * FROM orders ORDER BY order_id DESC LIMIT 5"
mycursor.execute(sql)
print("orders table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print last 5 rows from pizza_types table
sql = "SELECT * FROM pizza_types ORDER BY pizza_type_id DESC LIMIT 5"
mycursor.execute(sql)
print("pizza_types table:")
print("="*80)

for row in mycursor:
    print(row)

print("\n\n")  # Add space between tables


# Print last 5 rows from pizzas table
sql = "SELECT * FROM pizzas ORDER BY pizza_id DESC LIMIT 5"
mycursor.execute(sql)
print("pizzas table:")
print("="*80)

for row in mycursor:
    print(row)

order_details table:
================================================================================
(48620, 21350, 'bbq_ckn_s', 1)
(48619, 21349, 'mexicana_l', 1)
(48618, 21348, 'napolitana_s', 1)
(48617, 21348, 'four_cheese_l', 1)
(48616, 21348, 'ckn_alfredo_m', 1)



orders table:
================================================================================
(21350, datetime.date(2015, 12, 31), datetime.timedelta(seconds=82925))
(21349, datetime.date(2015, 12, 31), datetime.timedelta(seconds=79794))
(21348, datetime.date(2015, 12, 31), datetime.timedelta(seconds=76990))
(21347, datetime.date(2015, 12, 31), datetime.timedelta(seconds=76477))
(21346, datetime.date(2015, 12, 31), datetime.timedelta(seconds=75067))



pizza_types table:
================================================================================
('veggie_veg', 'The Vegetables + Vegetables Pizza', 'Veggie', 'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic')
('the_greek', 'The Greek Pizza', 'Classic', 'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions')
('thai_ckn', 'The Thai Chicken Pizza', 'Chicken', 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce')
('spinach_supr', 'The Spinach Supreme Pizza', 'Supreme', 'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese')
('spinach_fet', 'The Spinach and Feta Pizza', 'Veggie', 'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic')



pizzas table:
================================================================================
('veggie_veg_s', 'veggie_veg', 'S', Decimal('12.00'))
('veggie_veg_m', 'veggie_veg', 'M', Decimal('16.00'))
('veggie_veg_l', 'veggie_veg', 'L', Decimal('20.25'))
('the_greek_xxl', 'the_greek', 'XXL', Decimal('35.95'))
('the_greek_xl', 'the_greek', 'XL', Decimal('25.50'))

### **3. Exploratory Data Analysis**

We've successfully loaded our data into the database and performed some basic checks. We can now focus on analyzing the characteristics, behaviors, pattern and trends in order to gain business insights. Key business questions presented earlier guides our EDA process.

### 3.1 Total Orders Placed

In [31]:
# total orders placed from orders total_orders

mycursor = mydb.cursor()

sql = """
SELECT
    COUNT(*) AS total_orders
FROM
    orders;
"""
mycursor.execute(sql)
result = mycursor.fetchone()
print("Total Orders Placed:", result[0])

Total Orders Placed: 21350

### 3.2 Total Revenue Generated

In [35]:
# total revenue generated as total_revenue

mycursor = mydb.cursor()

sql = """
SELECT
    FORMAT(SUM(od.quantity * p.price), 2) AS total_revenue # format the result to two decimal places
FROM
    order_details od
JOIN
    pizzas p ON od.pizza_id = p.pizza_id;
"""

mycursor.execute(sql)
result = mycursor.fetchone()

print("Total Revenue Generated:", result[0])

Total Revenue Generated: 817,860.05

### 3.3 Highest priced pizza

In [38]:
# highest priced pizza

mycursor = mydb.cursor()

sql = """
    SELECT *
    FROM
        pizzas
    ORDER BY
        price DESC
    LIMIT 1;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('the_greek_xxl', 'the_greek', 'XXL', Decimal('35.95'))

### 3.4 Popular size ordered

In [42]:
#most ordered pizza from order_details
mycursor = mydb.cursor()

sql = """
    SELECT
      pizza_id,
      COUNT(*) AS order_count
    FROM
      order_details
    GROUP BY
      pizza_id
    ORDER BY
      order_count DESC
    LIMIT 1;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('big_meat_s', 1811)

### 3.5 Top five ordered pizzas

In [43]:
# Top five ordered pizzas

mycursor = mydb.cursor()

sql = """
SELECT
    p.name AS pizza_name,
    SUM(od.quantity) AS total_quantity
FROM
    order_details od
JOIN
    pizzas pz ON od.pizza_id = pz.pizza_id
JOIN
    pizza_types p ON pz.pizza_type_id = p.pizza_type_id
GROUP BY
    p.name
ORDER BY
    total_quantity DESC
LIMIT 5;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('The Classic Deluxe Pizza', Decimal('2453'))
('The Barbecue Chicken Pizza', Decimal('2432'))
('The Hawaiian Pizza', Decimal('2422'))
('The Pepperoni Pizza', Decimal('2418'))
('The Thai Chicken Pizza', Decimal('2371'))

### 3.6 Quantity of each pizza category ordered

In [46]:
# unique pizza categories from pizza_types

mycursor = mydb.cursor()

sql = """
SELECT DISTINCT category
FROM pizza_types;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row[0])

Chicken
Classic
Supreme
Veggie

In [45]:
# Quantity of each category ordered

mycursor = mydb.cursor()

sql = """
SELECT
    pt.category,
    SUM(od.quantity) AS total_quantity
FROM
    order_details od
JOIN
    pizzas p ON od.pizza_id = p.pizza_id
JOIN
    pizza_types pt ON p.pizza_type_id = pt.pizza_type_id
GROUP BY
    pt.category
ORDER BY
    total_quantity DESC;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('Classic', Decimal('14888'))
('Supreme', Decimal('11987'))
('Veggie', Decimal('11649'))
('Chicken', Decimal('11050'))

### 3.7 Distribution of Orders by Day Hours

In [47]:
# Orders by day hours

mycursor = mydb.cursor()

sql = """
    SELECT
        EXTRACT(HOUR FROM time) AS order_hour,
        COUNT(*) AS order_count
    FROM
        orders
    GROUP BY
        order_hour
    ORDER BY
        order_hour;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

(9, 1)
(10, 8)
(11, 1231)
(12, 2520)
(13, 2455)
(14, 1472)
(15, 1468)
(16, 1920)
(17, 2336)
(18, 2399)
(19, 2009)
(20, 1642)
(21, 1198)
(22, 663)
(23, 28)

### 3.8 Distribution by Category

In [48]:
# distribution by category

mycursor = mydb.cursor()

sql = """
SELECT
    pt.category,
    COUNT(*) AS pizza_count
FROM
    pizzas p
JOIN
    pizza_types pt ON p.pizza_type_id = pt.pizza_type_id
GROUP BY
    pt.category
ORDER BY
    pizza_count DESC;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('Veggie', 27)
('Classic', 26)
('Supreme', 25)
('Chicken', 18)

### 3.9 Average orders per day

In [50]:
# orders per day

mycursor = mydb.cursor()

sql = """
SELECT
    ROUND(AVG(daily_pizzas)) AS average_pizzas_per_day
FROM (
    SELECT
        date,
        SUM(od.quantity) AS daily_pizzas
    FROM
        orders o
    JOIN
        order_details od ON o.order_id = od.order_id
    GROUP BY
        date
) daily_totals;
"""
mycursor.execute(sql)
result = mycursor.fetchone()
print("Average Pizzas Per Day:", result[0])

Average Pizzas Per Day: 138

### 3.10 Top revenue earners

In [64]:
# top revenue earners

mycursor = mydb.cursor()

sql = """
    SELECT
        p.pizza_type_id AS pizza_name,
        SUM(od.quantity * p.price) AS total_revenue
    FROM
        order_details od
    JOIN
        pizzas p ON od.pizza_id = p.pizza_id
    GROUP BY
        p.pizza_type_id
    ORDER BY
        total_revenue DESC
    LIMIT 3;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('thai_ckn', Decimal('43434.25'))
('bbq_ckn', Decimal('42768.00'))
('cali_ckn', Decimal('41409.50'))

### 3.11 % contribution of each pizza type to revenue

In [53]:
# percentage contribution of each pizza type to revenue to 2 dps

mycursor = mydb.cursor()

sql = """
WITH pizza_revenue AS (
    SELECT p.pizza_type_id AS pizza_name, SUM(od.quantity * p.price) AS total_revenue
    FROM order_details od
    JOIN pizzas p ON od.pizza_id = p.pizza_id
    GROUP BY p.pizza_type_id
),
total_revenue AS (
    SELECT SUM(total_revenue) AS overall_total_revenue
    FROM pizza_revenue
)
SELECT
    pr.pizza_name,
    ROUND((pr.total_revenue / tr.overall_total_revenue) * 100, 2) AS percentage_contribution
FROM
    pizza_revenue pr
JOIN
    total_revenue tr ON 1=1
ORDER BY
    percentage_contribution DESC;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('thai_ckn', Decimal('5.31'))
('bbq_ckn', Decimal('5.23'))
('cali_ckn', Decimal('5.06'))
('classic_dlx', Decimal('4.67'))
('spicy_ital', Decimal('4.26'))
('southw_ckn', Decimal('4.24'))
('ital_supr', Decimal('4.09'))
('four_cheese', Decimal('3.95'))
('hawaiian', Decimal('3.95'))
('sicilian', Decimal('3.78'))
('pepperoni', Decimal('3.69'))
('the_greek', Decimal('3.48'))
('mexicana', Decimal('3.27'))
('five_cheese', Decimal('3.19'))
('peppr_salami', Decimal('3.12'))
('ital_cpcllo', Decimal('3.07'))
('veggie_veg', Decimal('2.98'))
('prsc_argla', Decimal('2.96'))
('napolitana', Decimal('2.95'))
('spinach_fet', Decimal('2.85'))
('big_meat', Decimal('2.81'))
('pep_msh_pep', Decimal('2.30'))
('ckn_alfredo', Decimal('2.07'))
('ckn_pesto', Decimal('2.04'))
('soppressata', Decimal('2.01'))
('ital_veggie', Decimal('1.96'))
('calabrese', Decimal('1.95'))
('spin_pesto', Decimal('1.91'))
('mediterraneo', Decimal('1.88'))
('spinach_supr', Decimal('1.87'))
('green_garden', Decimal('1.71'))
('brie_carre', Decimal('1.42'))

### 3.12 Cummulative revenue generated

In [58]:
# cumulative revenue overtime to 2 dp with digit separator.

mycursor = mydb.cursor()

sql = """
    SELECT
        o.date,
        FORMAT(SUM(od.quantity * p.price), 2) AS daily_revenue,
        FORMAT(SUM(SUM(od.quantity * p.price)) OVER (ORDER BY o.date), 2) AS cumulative_revenue
    FROM
        orders o
    JOIN
        order_details od   ON o.order_id =  od.order_id
    JOIN
        pizzas p ON od.pizza_id = p.pizza_id
    GROUP BY
        o.date
    ORDER BY
        o.date;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

(datetime.date(2015, 1, 1), '2,713.85', '2,713.85')
(datetime.date(2015, 1, 2), '2,731.90', '5,445.75')
(datetime.date(2015, 1, 3), '2,662.40', '8,108.15')
(datetime.date(2015, 1, 4), '1,755.45', '9,863.60')
(datetime.date(2015, 1, 5), '2,065.95', '11,929.55')
(datetime.date(2015, 1, 6), '2,428.95', '14,358.50')
(datetime.date(2015, 1, 7), '2,202.20', '16,560.70')
(datetime.date(2015, 1, 8), '2,838.35', '19,399.05')
(datetime.date(2015, 1, 9), '2,127.35', '21,526.40')
(datetime.date(2015, 1, 10), '2,463.95', '23,990.35')
(datetime.date(2015, 1, 11), '1,872.30', '25,862.65')
(datetime.date(2015, 1, 12), '1,919.05', '27,781.70')
(datetime.date(2015, 1, 13), '2,049.60', '29,831.30')
(datetime.date(2015, 1, 14), '2,527.40', '32,358.70')
(datetime.date(2015, 1, 15), '1,984.80', '34,343.50')
(datetime.date(2015, 1, 16), '2,594.15', '36,937.65')
(datetime.date(2015, 1, 17), '2,064.10', '39,001.75')
(datetime.date(2015, 1, 18), '1,976.85', '40,978.60')
(datetime.date(2015, 1, 19), '2,387.15', '43,365.75')
(datetime.date(2015, 1, 20), '2,397.90', '45,763.65')
(datetime.date(2015, 1, 21), '2,040.55', '47,804.20')
(datetime.date(2015, 1, 22), '2,496.70', '50,300.90')
(datetime.date(2015, 1, 23), '2,423.70', '52,724.60')
(datetime.date(2015, 1, 24), '2,289.25', '55,013.85')
(datetime.date(2015, 1, 25), '1,617.55', '56,631.40')
(datetime.date(2015, 1, 26), '1,884.40', '58,515.80')
(datetime.date(2015, 1, 27), '2,528.05', '61,043.85')
(datetime.date(2015, 1, 28), '2,016.00', '63,059.85')
(datetime.date(2015, 1, 29), '2,045.30', '65,105.15')
(datetime.date(2015, 1, 30), '2,270.30', '67,375.45')
(datetime.date(2015, 1, 31), '2,417.85', '69,793.30')
(datetime.date(2015, 2, 1), '3,189.20', '72,982.50')
(datetime.date(2015, 2, 2), '2,328.60', '75,311.10')
(datetime.date(2015, 2, 3), '2,614.80', '77,925.90')
(datetime.date(2015, 2, 4), '2,233.90', '80,159.80')
(datetime.date(2015, 2, 5), '2,215.80', '82,375.60')
(datetime.date(2015, 2, 6), '2,509.95', '84,885.55')
(datetime.date(2015, 2, 7), '2,237.65', '87,123.20')
(datetime.date(2015, 2, 8), '2,035.00', '89,158.20')
(datetime.date(2015, 2, 9), '2,195.35', '91,353.55')
(datetime.date(2015, 2, 10), '2,056.50', '93,410.05')
(datetime.date(2015, 2, 11), '2,460.00', '95,870.05')
(datetime.date(2015, 2, 12), '2,158.80', '98,028.85')
(datetime.date(2015, 2, 13), '2,754.50', '100,783.35')
(datetime.date(2015, 2, 14), '2,319.15', '103,102.50')
(datetime.date(2015, 2, 15), '2,141.25', '105,243.75')
(datetime.date(2015, 2, 16), '1,968.80', '107,212.55')
(datetime.date(2015, 2, 17), '2,121.90', '109,334.45')
(datetime.date(2015, 2, 18), '2,642.85', '111,977.30')
(datetime.date(2015, 2, 19), '2,030.25', '114,007.55')
(datetime.date(2015, 2, 20), '2,891.15', '116,898.70')
(datetime.date(2015, 2, 21), '2,111.00', '119,009.70')
(datetime.date(2015, 2, 22), '1,579.95', '120,589.65')
(datetime.date(2015, 2, 23), '2,168.55', '122,758.20')
(datetime.date(2015, 2, 24), '2,194.55', '124,952.75')
(datetime.date(2015, 2, 25), '2,341.30', '127,294.05')
(datetime.date(2015, 2, 26), '2,261.30', '129,555.35')
(datetime.date(2015, 2, 27), '2,857.95', '132,413.30')
(datetime.date(2015, 2, 28), '2,539.60', '134,952.90')
(datetime.date(2015, 3, 1), '1,598.55', '136,551.45')
(datetime.date(2015, 3, 2), '2,379.05', '138,930.50')
(datetime.date(2015, 3, 3), '2,287.90', '141,218.40')
(datetime.date(2015, 3, 4), '2,444.30', '143,662.70')
(datetime.date(2015, 3, 5), '2,350.65', '146,013.35')
(datetime.date(2015, 3, 6), '2,513.95', '148,527.30')
(datetime.date(2015, 3, 7), '2,400.45', '150,927.75')
(datetime.date(2015, 3, 8), '2,188.15', '153,115.90')
(datetime.date(2015, 3, 9), '2,334.55', '155,450.45')
(datetime.date(2015, 3, 10), '2,388.70', '157,839.15')
(datetime.date(2015, 3, 11), '2,207.70', '160,046.85')
(datetime.date(2015, 3, 12), '1,994.90', '162,041.75')
(datetime.date(2015, 3, 13), '2,786.65', '164,828.40')
(datetime.date(2015, 3, 14), '2,039.45', '166,867.85')
(datetime.date(2015, 3, 15), '2,068.60', '168,936.45')
(datetime.date(2015, 3, 16), '2,295.05', '171,231.50')
(datetime.date(2015, 3, 17), '2,965.30', '174,196.80')
(datetime.date(2015, 3, 18), '2,075.40', '176,272.20')
(datetime.date(2015, 3, 19), '2,388.60', '178,660.80')
(datetime.date(2015, 3, 20), '2,461.25', '181,122.05')
(datetime.date(2015, 3, 21), '2,267.40', '183,389.45')
(datetime.date(2015, 3, 22), '1,259.25', '184,648.70')
(datetime.date(2015, 3, 23), '2,232.55', '186,881.25')
(datetime.date(2015, 3, 24), '2,162.30', '189,043.55')
(datetime.date(2015, 3, 25), '1,927.75', '190,971.30')
(datetime.date(2015, 3, 26), '2,215.50', '193,186.80')
(datetime.date(2015, 3, 27), '2,744.80', '195,931.60')
(datetime.date(2015, 3, 28), '2,252.10', '198,183.70')
(datetime.date(2015, 3, 29), '2,154.25', '200,337.95')
(datetime.date(2015, 3, 30), '2,255.45', '202,593.40')
(datetime.date(2015, 3, 31), '2,756.60', '205,350.00')
(datetime.date(2015, 4, 1), '2,176.85', '207,526.85')
(datetime.date(2015, 4, 2), '2,547.15', '210,074.00')
(datetime.date(2015, 4, 3), '2,538.20', '212,612.20')
(datetime.date(2015, 4, 4), '2,767.55', '215,379.75')
(datetime.date(2015, 4, 5), '1,909.85', '217,289.60')
(datetime.date(2015, 4, 6), '2,622.35', '219,911.95')
(datetime.date(2015, 4, 7), '2,234.25', '222,146.20')
(datetime.date(2015, 4, 8), '2,293.95', '224,440.15')
(datetime.date(2015, 4, 9), '2,047.30', '226,487.45')
(datetime.date(2015, 4, 10), '2,424.95', '228,912.40')
(datetime.date(2015, 4, 11), '2,543.75', '231,456.15')
(datetime.date(2015, 4, 12), '1,994.30', '233,450.45')
(datetime.date(2015, 4, 13), '2,496.20', '235,946.65')
(datetime.date(2015, 4, 14), '2,505.70', '238,452.35')
(datetime.date(2015, 4, 15), '2,578.85', '241,031.20')
(datetime.date(2015, 4, 16), '2,017.95', '243,049.15')
(datetime.date(2015, 4, 17), '2,675.65', '245,724.80')
(datetime.date(2015, 4, 18), '2,286.20', '248,011.00')
(datetime.date(2015, 4, 19), '1,527.95', '249,538.95')
(datetime.date(2015, 4, 20), '2,459.45', '251,998.40')
(datetime.date(2015, 4, 21), '2,213.15', '254,211.55')
(datetime.date(2015, 4, 22), '2,193.45', '256,405.00')
(datetime.date(2015, 4, 23), '2,426.15', '258,831.15')
(datetime.date(2015, 4, 24), '2,979.20', '261,810.35')
(datetime.date(2015, 4, 25), '2,089.20', '263,899.55')
(datetime.date(2015, 4, 26), '1,767.40', '265,666.95')
(datetime.date(2015, 4, 27), '2,180.80', '267,847.75')
(datetime.date(2015, 4, 28), '1,742.80', '269,590.55')
(datetime.date(2015, 4, 29), '1,828.75', '271,419.30')
(datetime.date(2015, 4, 30), '2,667.50', '274,086.80')
(datetime.date(2015, 5, 1), '2,571.95', '276,658.75')
(datetime.date(2015, 5, 2), '2,400.20', '279,058.95')
(datetime.date(2015, 5, 3), '1,832.25', '280,891.20')
(datetime.date(2015, 5, 4), '2,288.90', '283,180.10')
(datetime.date(2015, 5, 5), '1,713.60', '284,893.70')
(datetime.date(2015, 5, 6), '2,309.80', '287,203.50')
(datetime.date(2015, 5, 7), '2,228.85', '289,432.35')
(datetime.date(2015, 5, 8), '3,052.30', '292,484.65')
(datetime.date(2015, 5, 9), '2,368.40', '294,853.05')
(datetime.date(2015, 5, 10), '2,288.35', '297,141.40')
(datetime.date(2015, 5, 11), '2,388.05', '299,529.45')
(datetime.date(2015, 5, 12), '2,299.70', '301,829.15')
(datetime.date(2015, 5, 13), '2,261.80', '304,090.95')
(datetime.date(2015, 5, 14), '2,694.50', '306,785.45')
(datetime.date(2015, 5, 15), '3,386.15', '310,171.60')
(datetime.date(2015, 5, 16), '2,281.10', '312,452.70')
(datetime.date(2015, 5, 17), '1,828.40', '314,281.10')
(datetime.date(2015, 5, 18), '2,209.65', '316,490.75')
(datetime.date(2015, 5, 19), '1,987.00', '318,477.75')
(datetime.date(2015, 5, 20), '2,373.00', '320,850.75')
(datetime.date(2015, 5, 21), '2,062.55', '322,913.30')
(datetime.date(2015, 5, 22), '2,635.10', '325,548.40')
(datetime.date(2015, 5, 23), '2,444.15', '327,992.55')
(datetime.date(2015, 5, 24), '2,196.95', '330,189.50')
(datetime.date(2015, 5, 25), '2,104.40', '332,293.90')
(datetime.date(2015, 5, 26), '1,876.45', '334,170.35')
(datetime.date(2015, 5, 27), '2,097.00', '336,267.35')
(datetime.date(2015, 5, 28), '2,016.40', '338,283.75')
(datetime.date(2015, 5, 29), '3,001.20', '341,284.95')
(datetime.date(2015, 5, 30), '2,486.95', '343,771.90')
(datetime.date(2015, 5, 31), '1,717.65', '345,489.55')
(datetime.date(2015, 6, 1), '3,067.75', '348,557.30')
(datetime.date(2015, 6, 2), '2,449.95', '351,007.25')
(datetime.date(2015, 6, 3), '1,907.05', '352,914.30')
(datetime.date(2015, 6, 4), '2,283.60', '355,197.90')
(datetime.date(2015, 6, 5), '2,700.15', '357,898.05')
(datetime.date(2015, 6, 6), '2,280.95', '360,179.00')
(datetime.date(2015, 6, 7), '1,960.75', '362,139.75')
(datetime.date(2015, 6, 8), '2,264.95', '364,404.70')
(datetime.date(2015, 6, 9), '2,442.55', '366,847.25')
(datetime.date(2015, 6, 10), '2,019.40', '368,866.65')
(datetime.date(2015, 6, 11), '2,650.50', '371,517.15')
(datetime.date(2015, 6, 12), '2,138.60', '373,655.75')
(datetime.date(2015, 6, 13), '2,508.90', '376,164.65')
(datetime.date(2015, 6, 14), '1,859.00', '378,023.65')
(datetime.date(2015, 6, 15), '2,595.60', '380,619.25')
(datetime.date(2015, 6, 16), '1,898.30', '382,517.55')
(datetime.date(2015, 6, 17), '2,137.10', '384,654.65')
(datetime.date(2015, 6, 18), '1,984.50', '386,639.15')
(datetime.date(2015, 6, 19), '2,793.45', '389,432.60')
(datetime.date(2015, 6, 20), '2,060.60', '391,493.20')
(datetime.date(2015, 6, 21), '1,925.20', '393,418.40')
(datetime.date(2015, 6, 22), '2,319.30', '395,737.70')
(datetime.date(2015, 6, 23), '2,042.75', '397,780.45')
(datetime.date(2015, 6, 24), '2,327.50', '400,107.95')
(datetime.date(2015, 6, 25), '2,399.15', '402,507.10')
(datetime.date(2015, 6, 26), '2,745.50', '405,252.60')
(datetime.date(2015, 6, 27), '2,812.90', '408,065.50')
(datetime.date(2015, 6, 28), '1,569.70', '409,635.20')
(datetime.date(2015, 6, 29), '1,873.60', '411,508.80')
(datetime.date(2015, 6, 30), '2,210.95', '413,719.75')
(datetime.date(2015, 7, 1), '2,231.50', '415,951.25')
(datetime.date(2015, 7, 2), '2,294.80', '418,246.05')
(datetime.date(2015, 7, 3), '3,443.00', '421,689.05')
(datetime.date(2015, 7, 4), '3,864.20', '425,553.25')
(datetime.date(2015, 7, 5), '1,591.45', '427,144.70')
(datetime.date(2015, 7, 6), '2,116.90', '429,261.60')
(datetime.date(2015, 7, 7), '2,374.40', '431,636.00')
(datetime.date(2015, 7, 8), '2,396.05', '434,032.05')
(datetime.date(2015, 7, 9), '2,297.75', '436,329.80')
(datetime.date(2015, 7, 10), '2,432.40', '438,762.20')
(datetime.date(2015, 7, 11), '2,085.55', '440,847.75')
(datetime.date(2015, 7, 12), '2,185.65', '443,033.40')
(datetime.date(2015, 7, 13), '2,059.50', '445,092.90')
(datetime.date(2015, 7, 14), '1,956.50', '447,049.40')
(datetime.date(2015, 7, 15), '2,501.80', '449,551.20')
(datetime.date(2015, 7, 16), '2,463.90', '452,015.10')
(datetime.date(2015, 7, 17), '3,131.65', '455,146.75')
(datetime.date(2015, 7, 18), '2,122.20', '457,268.95')
(datetime.date(2015, 7, 19), '2,022.70', '459,291.65')
(datetime.date(2015, 7, 20), '2,501.00', '461,792.65')
(datetime.date(2015, 7, 21), '2,030.85', '463,823.50')
(datetime.date(2015, 7, 22), '2,292.10', '466,115.60')
(datetime.date(2015, 7, 23), '2,214.50', '468,330.10')
(datetime.date(2015, 7, 24), '3,204.40', '471,534.50')
(datetime.date(2015, 7, 25), '2,237.25', '473,771.75')
(datetime.date(2015, 7, 26), '1,871.55', '475,643.30')
(datetime.date(2015, 7, 27), '2,172.00', '477,815.30')
(datetime.date(2015, 7, 28), '2,094.55', '479,909.85')
(datetime.date(2015, 7, 29), '1,923.25', '481,833.10')
(datetime.date(2015, 7, 30), '2,349.15', '484,182.25')
(datetime.date(2015, 7, 31), '2,095.40', '486,277.65')
(datetime.date(2015, 8, 1), '2,440.55', '488,718.20')
(datetime.date(2015, 8, 2), '1,910.15', '490,628.35')
(datetime.date(2015, 8, 3), '1,982.25', '492,610.60')
(datetime.date(2015, 8, 4), '2,090.15', '494,700.75')
(datetime.date(2015, 8, 5), '2,094.85', '496,795.60')
(datetime.date(2015, 8, 6), '2,099.25', '498,894.85')
(datetime.date(2015, 8, 7), '2,626.40', '501,521.25')
(datetime.date(2015, 8, 8), '2,716.40', '504,237.65')
(datetime.date(2015, 8, 9), '2,002.65', '506,240.30')
(datetime.date(2015, 8, 10), '2,139.45', '508,379.75')
(datetime.date(2015, 8, 11), '2,290.00', '510,669.75')
(datetime.date(2015, 8, 12), '2,365.75', '513,035.50')
(datetime.date(2015, 8, 13), '2,074.15', '515,109.65')
(datetime.date(2015, 8, 14), '3,016.60', '518,126.25')
(datetime.date(2015, 8, 15), '2,252.35', '520,378.60')
(datetime.date(2015, 8, 16), '2,139.30', '522,517.90')
(datetime.date(2015, 8, 17), '2,626.00', '525,143.90')
(datetime.date(2015, 8, 18), '2,101.20', '527,245.10')
(datetime.date(2015, 8, 19), '2,332.95', '529,578.05')
(datetime.date(2015, 8, 20), '1,907.70', '531,485.75')
(datetime.date(2015, 8, 21), '2,601.40', '534,087.15')
(datetime.date(2015, 8, 22), '2,406.00', '536,493.15')
(datetime.date(2015, 8, 23), '1,701.60', '538,194.75')
(datetime.date(2015, 8, 24), '1,697.05', '539,891.80')
(datetime.date(2015, 8, 25), '1,958.90', '541,850.70')
(datetime.date(2015, 8, 26), '2,329.40', '544,180.10')
(datetime.date(2015, 8, 27), '2,117.65', '546,297.75')
(datetime.date(2015, 8, 28), '2,647.20', '548,944.95')
(datetime.date(2015, 8, 29), '2,035.00', '550,979.95')
(datetime.date(2015, 8, 30), '1,494.60', '552,474.55')
(datetime.date(2015, 8, 31), '2,081.35', '554,555.90')
(datetime.date(2015, 9, 1), '2,352.85', '556,908.75')
(datetime.date(2015, 9, 2), '1,865.55', '558,774.30')
(datetime.date(2015, 9, 3), '2,252.60', '561,026.90')
(datetime.date(2015, 9, 4), '2,960.95', '563,987.85')
(datetime.date(2015, 9, 5), '2,537.80', '566,525.65')
(datetime.date(2015, 9, 6), '1,491.65', '568,017.30')
(datetime.date(2015, 9, 7), '2,283.35', '570,300.65')
(datetime.date(2015, 9, 8), '2,249.50', '572,550.15')
(datetime.date(2015, 9, 9), '2,580.10', '575,130.25')
(datetime.date(2015, 9, 10), '2,415.85', '577,546.10')
(datetime.date(2015, 9, 11), '2,761.90', '580,308.00')
(datetime.date(2015, 9, 12), '2,588.15', '582,896.15')
(datetime.date(2015, 9, 13), '1,838.15', '584,734.30')
(datetime.date(2015, 9, 14), '2,165.25', '586,899.55')
(datetime.date(2015, 9, 15), '2,550.20', '589,449.75')
(datetime.date(2015, 9, 16), '2,185.25', '591,635.00')
(datetime.date(2015, 9, 17), '2,242.05', '593,877.05')
(datetime.date(2015, 9, 18), '2,721.55', '596,598.60')
(datetime.date(2015, 9, 19), '2,286.55', '598,885.15')
(datetime.date(2015, 9, 20), '1,829.00', '600,714.15')
(datetime.date(2015, 9, 21), '2,131.45', '602,845.60')
(datetime.date(2015, 9, 22), '2,170.40', '605,016.00')
(datetime.date(2015, 9, 23), '2,163.00', '607,179.00')
(datetime.date(2015, 9, 26), '2,246.85', '609,425.85')
(datetime.date(2015, 9, 27), '2,314.70', '611,740.55')
(datetime.date(2015, 9, 28), '2,035.30', '613,775.85')
(datetime.date(2015, 9, 29), '2,762.05', '616,537.90')
(datetime.date(2015, 9, 30), '2,198.05', '618,735.95')
(datetime.date(2015, 10, 1), '3,202.15', '621,938.10')
(datetime.date(2015, 10, 2), '2,074.85', '624,012.95')
(datetime.date(2015, 10, 3), '2,400.95', '626,413.90')
(datetime.date(2015, 10, 4), '2,142.20', '628,556.10')
(datetime.date(2015, 10, 6), '2,215.95', '630,772.05')
(datetime.date(2015, 10, 7), '2,092.35', '632,864.40')
(datetime.date(2015, 10, 8), '1,975.85', '634,840.25')
(datetime.date(2015, 10, 9), '2,512.60', '637,352.85')
(datetime.date(2015, 10, 10), '2,310.20', '639,663.05')
(datetime.date(2015, 10, 11), '1,916.25', '641,579.30')
(datetime.date(2015, 10, 13), '2,325.95', '643,905.25')
(datetime.date(2015, 10, 14), '2,146.35', '646,051.60')
(datetime.date(2015, 10, 15), '4,320.20', '650,371.80')
(datetime.date(2015, 10, 16), '2,555.10', '652,926.90')
(datetime.date(2015, 10, 17), '2,339.80', '655,266.70')
(datetime.date(2015, 10, 18), '1,795.30', '657,062.00')
(datetime.date(2015, 10, 20), '2,437.15', '659,499.15')
(datetime.date(2015, 10, 21), '2,460.50', '661,959.65')
(datetime.date(2015, 10, 22), '2,400.90', '664,360.55')
(datetime.date(2015, 10, 23), '2,610.65', '666,971.20')
(datetime.date(2015, 10, 24), '2,679.50', '669,650.70')
(datetime.date(2015, 10, 25), '1,837.05', '671,487.75')
(datetime.date(2015, 10, 27), '1,988.65', '673,476.40')
(datetime.date(2015, 10, 28), '1,635.95', '675,112.35')
(datetime.date(2015, 10, 29), '2,169.75', '677,282.10')
(datetime.date(2015, 10, 30), '2,736.60', '680,018.70')
(datetime.date(2015, 10, 31), '2,744.85', '682,763.55')
(datetime.date(2015, 11, 1), '1,986.65', '684,750.20')
(datetime.date(2015, 11, 2), '2,299.10', '687,049.30')
(datetime.date(2015, 11, 3), '1,828.55', '688,877.85')
(datetime.date(2015, 11, 4), '1,966.10', '690,843.95')
(datetime.date(2015, 11, 5), '2,180.35', '693,024.30')
(datetime.date(2015, 11, 6), '3,157.50', '696,181.80')
(datetime.date(2015, 11, 7), '2,580.95', '698,762.75')
(datetime.date(2015, 11, 8), '2,110.15', '700,872.90')
(datetime.date(2015, 11, 9), '2,483.75', '703,356.65')
(datetime.date(2015, 11, 10), '2,042.60', '705,399.25')
(datetime.date(2015, 11, 11), '1,946.20', '707,345.45')
(datetime.date(2015, 11, 12), '2,564.80', '709,910.25')
(datetime.date(2015, 11, 13), '2,264.55', '712,174.80')
(datetime.date(2015, 11, 14), '2,324.75', '714,499.55')
(datetime.date(2015, 11, 15), '1,821.65', '716,321.20')
(datetime.date(2015, 11, 16), '2,256.65', '718,577.85')
(datetime.date(2015, 11, 17), '1,956.55', '720,534.40')
(datetime.date(2015, 11, 18), '2,111.70', '722,646.10')
(datetime.date(2015, 11, 19), '2,694.90', '725,341.00')
(datetime.date(2015, 11, 20), '2,388.10', '727,729.10')
(datetime.date(2015, 11, 21), '2,083.95', '729,813.05')
(datetime.date(2015, 11, 22), '1,368.70', '731,181.75')
(datetime.date(2015, 11, 23), '2,465.15', '733,646.90')
(datetime.date(2015, 11, 24), '2,230.05', '735,876.95')
(datetime.date(2015, 11, 25), '2,363.25', '738,240.20')
(datetime.date(2015, 11, 26), '4,405.95', '742,646.15')
(datetime.date(2015, 11, 27), '4,422.45', '747,068.60')
(datetime.date(2015, 11, 28), '1,968.05', '749,036.65')
(datetime.date(2015, 11, 29), '1,899.00', '750,935.65')
(datetime.date(2015, 11, 30), '2,223.25', '753,158.90')
(datetime.date(2015, 12, 1), '2,076.70', '755,235.60')
(datetime.date(2015, 12, 2), '2,214.10', '757,449.70')
(datetime.date(2015, 12, 3), '2,243.20', '759,692.90')
(datetime.date(2015, 12, 4), '2,878.35', '762,571.25')
(datetime.date(2015, 12, 5), '2,627.95', '765,199.20')
(datetime.date(2015, 12, 6), '2,350.25', '767,549.45')
(datetime.date(2015, 12, 7), '2,414.80', '769,964.25')
(datetime.date(2015, 12, 8), '1,856.25', '771,820.50')
(datetime.date(2015, 12, 9), '2,571.55', '774,392.05')
(datetime.date(2015, 12, 10), '1,985.60', '776,377.65')
(datetime.date(2015, 12, 11), '2,634.00', '779,011.65')
(datetime.date(2015, 12, 12), '1,960.15', '780,971.80')
(datetime.date(2015, 12, 13), '2,245.15', '783,216.95')
(datetime.date(2015, 12, 14), '2,172.60', '785,389.55')
(datetime.date(2015, 12, 15), '2,387.45', '787,777.00')
(datetime.date(2015, 12, 16), '2,234.80', '790,011.80')
(datetime.date(2015, 12, 17), '1,880.75', '791,892.55')
(datetime.date(2015, 12, 18), '2,886.30', '794,778.85')
(datetime.date(2015, 12, 19), '2,304.20', '797,083.05')
(datetime.date(2015, 12, 20), '2,104.90', '799,187.95')
(datetime.date(2015, 12, 21), '2,100.70', '801,288.65')
(datetime.date(2015, 12, 22), '1,882.95', '803,171.60')
(datetime.date(2015, 12, 23), '2,244.30', '805,415.90')
(datetime.date(2015, 12, 24), '2,137.85', '807,553.75')
(datetime.date(2015, 12, 26), '1,643.05', '809,196.80')
(datetime.date(2015, 12, 27), '1,419.00', '810,615.80')
(datetime.date(2015, 12, 28), '1,637.20', '812,253.00')
(datetime.date(2015, 12, 29), '1,353.25', '813,606.25')
(datetime.date(2015, 12, 30), '1,337.80', '814,944.05')
(datetime.date(2015, 12, 31), '2,916.00', '817,860.05')

## 3.13 Top ordered pizzas by category and revenue

In [62]:
# top 3 ordered pizza based on revenue for each category

mycursor = mydb.cursor()

sql = """
WITH pizza_revenue AS (
    SELECT
        pt.category,
        p.pizza_id,
        pt.name AS pizza_name,
        SUM(od.quantity * p.price) AS total_revenue,
        ROW_NUMBER() OVER (PARTITION BY pt.category ORDER BY SUM(od.quantity * p.price) DESC) As top_3_rank
    FROM
        order_details od
    JOIN
        pizzas p ON od.pizza_id = p.pizza_id
    JOIN
        pizza_types pt ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY
        pt.category, p.pizza_id, pt.name
)
SELECT
    category,
    pizza_id,
    pizza_name,
    FORMAT(total_revenue, 2) AS total_revenue
FROM
    pizza_revenue
WHERE
    top_3_rank <= 3
ORDER BY
    category, total_revenue DESC;
"""
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('Chicken', 'thai_ckn_l', 'The Thai Chicken Pizza', '29,257.50')
('Chicken', 'southw_ckn_l', 'The Southwest Chicken Pizza', '21,082.00')
('Chicken', 'bbq_ckn_l', 'The Barbecue Chicken Pizza', '20,584.00')
('Classic', 'big_meat_s', 'The Big Meat Pizza', '22,968.00')
('Classic', 'classic_dlx_m', 'The Classic Deluxe Pizza', '18,896.00')
('Classic', 'hawaiian_l', 'The Hawaiian Pizza', '15,163.50')
('Supreme', 'spicy_ital_l', 'The Spicy Italian Pizza', '23,011.75')
('Supreme', 'ital_supr_m', 'The Italian Supreme Pizza', '15,526.50')
('Supreme', 'ital_supr_l', 'The Italian Supreme Pizza', '15,500.25')
('Veggie', 'five_cheese_l', 'The Five Cheese Pizza', '26,066.50')
('Veggie', 'four_cheese_l', 'The Four Cheese Pizza', '23,622.20')
('Veggie', 'mexicana_l', 'The Mexicana Pizza', '17,556.75')

### **4. Bridging MySQL and Pandas**

**Just one more tip 💁**

You can directly fetch data from MySQL and load it into a pandas DataFrame. The rest of the analysis process will be magical.

In [67]:
# Load orders table to pandas pandas dataframe

import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='password', host='localhost', database='pizza_sales')

# Fetch data into a pandas DataFrame
sql = "SELECT * FROM orders"
df = pd.read_sql(sql, conn)
df.head()

<ipython-input-67-20cd34c40f5c>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

   order_id        date            time
0         1  2015-01-01 0 days 11:38:36
1         2  2015-01-01 0 days 11:57:40
2         3  2015-01-01 0 days 12:12:28
3         4  2015-01-01 0 days 12:16:31
4         5  2015-01-01 0 days 12:21:30

### **5. Conclusion**

MySQL is one of the most utilized RDMS in Data Analysis and Data Science. It is proven application powering multitudes of business systems. You can use it to handle large amounts of relational data. An integration with Python signifies the comming together of legends.